{"openapi":"3.0.1","info":{"title":"API v6 Rabota.Ru","description":"\u0414\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0438\u044f \u0440\u0430\u0431\u043e\u0442\u044b \u0441 API Rabota.Ru \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 OpenAPI","contact":{"name":"\u041f\u043e\u0434\u0434\u0435\u0440\u0436\u043a\u0430 API","email":"support@rabota.ru"},"version":"6.1989","termsOfService":"https:\/\/dev.rabota.ru\/terms_of_use.html"},"servers":[{"url":"https:\/\/api.rabota.wtf\/v6","description":"\u0421\u0435\u0440\u0432\u0435\u0440 \u043f\u0435\u0441\u043e\u0447\u043d\u0438\u0446\u044b (\u043e\u043a\u0440\u0443\u0436\u0435\u043d\u0438\u0435 'sandbox')"},{"url":"https:\/\/api.rabota.ru\/v6","description":"\u0420\u0430\u0431\u043e\u0447\u0438\u0439 \u0441\u0435\u0440\u0432\u0435\u0440 (\u043e\u043a\u0440\u0443\u0436\u0435\u043d\u0438\u0435 'prod')"}],"externalDocs":{"url":"https:\/\/dev.rabota.ru\/","description":"\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u0430\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u0434\u043b\u044f \u0440\u0430\u0437\u0440\u0430\u0431\u043e\u0442\u0447\u0438\u043a\u043e\u0432"},"tags":[{"name":"applicant","description":"\u0421\u043e\u0438\u0441\u043a\u0430\u0442\u0435\u043b\u044c"},{"name":"auth","description":"\u0410\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u044f"},{"name":"company","description":"\u041a\u043e\u043c\u043f\u0430\u043d\u0438\u044f"},{"name":"dictionary","description":"\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a"},{"name":"person","description":"\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c"},{"name":"recruiter","description":"\u0420\u0435\u043a\u0440\u0443\u0442\u0435\u0440"},{"name":"response","description":"\u041e\u0442\u043a\u043b\u0438\u043a"},{"name":"resume","description":"\u0420\u0435\u0437\u044e\u043c\u0435"},{"name":"sberbank","description":"\u0421\u0431\u0435\u0440\u0431\u0430\u043d\u043a"},{"name":"skill","description":"\u041d\u0430\u0432\u044b\u043a"},{"name":"vacancy","description":"\u0412\u0430\u043a\u0430\u043d\u0441\u0438\u044f"}],"paths":{"\/code\/login.json":{"post":{"summary":"\u0410\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u044f \u043f\u043e \u043a\u043e\u0434\u0443 \u0438\u0437 \u0421\u041c\u0421 \u0438\u043b\u0438 \u043f\u0438\u0441\u044c\u043c\u0430","operationId":"codeLoginAction","tags":["auth","owner_job"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u0410\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u044f \u043f\u043e \u043a\u043e\u0434\u0443 \u0438\u0437 \u0421\u041c\u0421 \u0438\u043b\u0438 \u043f\u0438\u0441\u044c\u043c\u0430","type":"object","required":["login","access_code"],"properties":{"login":{"$ref":"#\/components\/schemas\/Login"},"access_code":{"$ref":"#\/components\/schemas\/AccessCode"}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"success":{"allOf":[{"$ref":"#\/components\/schemas\/IsSucceed"},{"description":"true \u0435\u0441\u043b\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0430\u0439\u0434\u0435\u043d \u0438 \u043e\u0434\u043d\u043e\u0440\u0430\u0437\u043e\u0432\u044b\u0439 \u043a\u043e\u0434 \u043f\u0440\u0438\u043d\u044f\u0442"}]},"token":{"$ref":"#\/components\/schemas\/Token"},"token_v3":{"$ref":"#\/components\/schemas\/V3Token"}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0435 \u0443\u0447\u0451\u0442\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"},"429":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0421\u043b\u0438\u0448\u043a\u043e\u043c \u043c\u043d\u043e\u0433\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u043e\u0432"}}}},"\/code\/register.json":{"post":{"summary":"\u0420\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f \u043f\u043e \u043a\u043e\u0434\u0443","operationId":"codeRegisterAction","tags":["auth","owner_job"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u041f\u0440\u043e\u0432\u0435\u0440\u043a\u0430 \u043f\u0440\u043e\u0432\u0435\u0440\u043e\u0447\u043d\u043e\u0433\u043e \u043a\u043e\u0434\u0430 \u043f\u043e \u043b\u043e\u0433\u0438\u043d\u0443 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0441 \u043f\u043e\u0441\u043b\u0435\u0434\u0443\u044e\u0449\u0435\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0435\u0439","type":"object","required":["login","access_code"],"properties":{"login":{"$ref":"#\/components\/schemas\/Login"},"access_code":{"$ref":"#\/components\/schemas\/AccessCode"},"secondary_login":{"$ref":"#\/components\/schemas\/Login"}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"success":{"allOf":[{"$ref":"#\/components\/schemas\/IsSucceed"},{"description":"true \u0435\u0441\u043b\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0430\u0439\u0434\u0435\u043d \u0438 \u043e\u0434\u043d\u043e\u0440\u0430\u0437\u043e\u0432\u044b\u0439 \u043a\u043e\u0434 \u043f\u0440\u0438\u043d\u044f\u0442"}]},"token":{"$ref":"#\/components\/schemas\/Token"},"token_v3":{"$ref":"#\/components\/schemas\/V3Token"}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0435 \u0443\u0447\u0451\u0442\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"},"429":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0421\u043b\u0438\u0448\u043a\u043e\u043c \u043c\u043d\u043e\u0433\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u043e\u0432"}}}},"\/code\/send.json":{"post":{"summary":"\u041e\u0442\u043f\u0440\u0430\u0432\u043a\u0430 \u043a\u043e\u0434\u0430 \u043f\u043e \u043b\u043e\u0433\u0438\u043d\u0443","operationId":"codeSendAction","tags":["auth","owner_job"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u041e\u0442\u043f\u0440\u0430\u0432\u043a\u0430 \u043f\u0440\u043e\u0432\u0435\u0440\u043e\u0447\u043d\u043e\u0433\u043e \u043a\u043e\u0434\u0430 \u043f\u043e \u043b\u043e\u0433\u0438\u043d\u0443 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f","type":"object","required":["login"],"properties":{"login":{"$ref":"#\/components\/schemas\/Login"},"recaptcha_response":{"$ref":"#\/components\/schemas\/GoogleReCaptcha"}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"success":{"allOf":[{"$ref":"#\/components\/schemas\/IsSucceed"},{"description":"true \u0435\u0441\u043b\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0430\u0439\u0434\u0435\u043d \u0438 \u043e\u0434\u043d\u043e\u0440\u0430\u0437\u043e\u0432\u044b\u0439 \u043a\u043e\u0434 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d"}]},"pause_until_next_attempt":{"allOf":[{"$ref":"#\/components\/schemas\/PauseUntilNextAttempt"},{"default":0}]},"sent_logins":{"type":"array","title":"\u0421\u043f\u0438\u0441\u043e\u043a \u043b\u043e\u0433\u0438\u043d\u043e\u0432 \u043a\u0443\u0434\u0430 \u0431\u044b\u043b\u0438 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u044b \u043a\u043e\u0434\u044b (\u0437\u0430\u043c\u0430\u0441\u043a\u0438\u0440\u043e\u0432\u0430\u043d\u044b)","items":{"$ref":"#\/components\/schemas\/SentLogin"}}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"403":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0414\u043e\u0441\u0442\u0443\u043f \u0437\u0430\u043f\u0440\u0435\u0449\u0451\u043d"},"429":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0421\u043b\u0438\u0448\u043a\u043e\u043c \u043c\u043d\u043e\u0433\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u043e\u0432"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"}}}},"\/employment.json":{"post":{"summary":"\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \"\u0417\u0430\u043d\u044f\u0442\u043e\u0441\u0442\u044c\"","operationId":"employmentAction","tags":["dictionary"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u041f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u044b \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"fields":{"type":"array","title":"\u041f\u043e\u043b\u044f \u0434\u043b\u044f \u0432\u044b\u0431\u043e\u0440\u043a\u0438","description":"\u041f\u0443\u0441\u0442\u043e\u0439 \u043c\u0430\u0441\u0441\u0438\u0432 \u0434\u043b\u044f \u0432\u044b\u0431\u043e\u0440\u043a\u0438 \u0432\u0441\u0435\u0445 \u043f\u043e\u043b\u0435\u0439 \u0438\u043b\u0438 \u0441\u043f\u0438\u0441\u043e\u043a \u0432\u044b\u0431\u0438\u0440\u0430\u0435\u043c\u044b\u0445 \u043f\u043e\u043b\u0435\u0439:<br> (\u0441\u0443\u0449\u043d\u043e\u0441\u0442\u044c - \u0417\u0430\u043d\u044f\u0442\u043e\u0441\u0442\u044c) <br>id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>name - \u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435<br>slug - \u041a\u043e\u043d\u0441\u0442\u0430\u043d\u0442\u0430<br>","default":[],"items":{"type":"string","enum":["id","name","slug"]},"maxItems":500},"limit":{"$ref":"#\/components\/schemas\/Limit"},"offset":{"$ref":"#\/components\/schemas\/Offset"}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"employments":{"description":"\u0412\u0438\u0434\u044b \u0437\u0430\u043d\u044f\u0442\u043e\u0441\u0442\u0438","type":"array","items":{"$ref":"#\/components\/schemas\/Employment"}},"total":{"$ref":"#\/components\/schemas\/Total"},"version":{"title":"\u0412\u0435\u0440\u0441\u0438\u044f \u0441\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a\u0430","type":"integer","description":"\u0417\u0430\u043f\u0440\u0430\u0448\u0438\u0432\u0430\u0439\u0442\u0435 \u0441 limit = 0"}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"}}}},"\/login.json":{"post":{"summary":"\u0410\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u044f \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f","operationId":"loginAction","tags":["auth","owner_job"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u041e\u0442\u043f\u0440\u0430\u0432\u043a\u0430 \u043f\u0440\u043e\u0432\u0435\u0440\u043e\u0447\u043d\u043e\u0433\u043e \u043a\u043e\u0434\u0430 \u043f\u043e \u043b\u043e\u0433\u0438\u043d\u0443 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f","type":"object","required":["login","password"],"properties":{"login":{"$ref":"#\/components\/schemas\/Login"},"password":{"$ref":"#\/components\/schemas\/Password"},"recaptcha_response":{"$ref":"#\/components\/schemas\/GoogleReCaptcha"}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"success":{"$ref":"#\/components\/schemas\/IsSucceed"},"person_id":{"allOf":[{"$ref":"#\/components\/schemas\/IdIntMin1"},{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f","nullable":true,"maximum":2147483647}]},"token":{"$ref":"#\/components\/schemas\/Token"},"token_v3":{"$ref":"#\/components\/schemas\/V3Token"}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0435 \u0443\u0447\u0451\u0442\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"},"429":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0421\u043b\u0438\u0448\u043a\u043e\u043c \u043c\u043d\u043e\u0433\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u043e\u0432"}}}},"\/login\/try.json":{"post":{"summary":"\u041f\u0440\u043e\u0432\u0435\u0440\u044f\u0435\u0442 \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u043b\u0438 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0438\u0440\u0443\u0435\u0442 \u043d\u043e\u0432\u043e\u0433\u043e","operationId":"loginTryAction","tags":["auth","owner_job"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u041f\u043e\u043f\u044b\u0442\u043a\u0430 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u0442\u044c\u0441\u044f","type":"object","required":["login"],"properties":{"login":{"$ref":"#\/components\/schemas\/Login"},"secondary_login":{"allOf":[{"$ref":"#\/components\/schemas\/Login"},{"description":"\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0439 \u043b\u043e\u0433\u0438\u043d","nullable":true}]}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"description":"\u041f\u043e\u043f\u044b\u0442\u043a\u0430 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u0442\u044c\u0441\u044f \u0438\u043b\u0438 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f","type":"object","properties":{"status":{"title":"\u0421\u0442\u0430\u0442\u0443\u0441","type":"string","enum":["new_user_need_code_sent","new_user_registered","user_exists_need_code_sent","user_exists_need_password"]},"exist":{"title":"\u0421\u0442\u0430\u0442\u0443\u0441 \u0434\u043b\u044f \u043b\u043e\u0433\u0438\u043d\u0430","type":"string","enum":["login","secondary_login"]},"token":{"allOf":[{"$ref":"#\/components\/schemas\/Token"},{"description":"\u041f\u0430\u0440\u0430\u043c\u0435\u0442\u0440 \u0434\u043e\u0441\u0442\u0443\u043f\u0435\u043d \u0432 \u0441\u043b\u0443\u0447\u0430\u0435 \u0443\u0441\u043f\u0435\u0448\u043d\u043e\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438 \u043f\u043e email."}]},"token_v3":{"allOf":[{"$ref":"#\/components\/schemas\/V3Token"},{"description":"\u041f\u0430\u0440\u0430\u043c\u0435\u0442\u0440 \u0434\u043e\u0441\u0442\u0443\u043f\u0435\u043d \u0432 \u0441\u043b\u0443\u0447\u0430\u0435 \u0443\u0441\u043f\u0435\u0448\u043d\u043e\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438 \u043f\u043e email."}]}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"}}}},"\/me.json":{"post":{"summary":"\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0442\u0435\u043a\u0443\u0449\u0435\u0433\u043e \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f","operationId":"meAction","tags":["person","applicant"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"type":"object","properties":{"fields":{"type":"array","title":"\u041f\u043e\u043b\u044f \u0434\u043b\u044f \u0432\u044b\u0431\u043e\u0440\u043a\u0438","description":"\u041f\u0443\u0441\u0442\u043e\u0439 \u043c\u0430\u0441\u0441\u0438\u0432 \u0434\u043b\u044f \u0432\u044b\u0431\u043e\u0440\u043a\u0438 \u0432\u0441\u0435\u0445 \u043f\u043e\u043b\u0435\u0439 \u0438\u043b\u0438 \u0441\u043f\u0438\u0441\u043e\u043a \u0432\u044b\u0431\u0438\u0440\u0430\u0435\u043c\u044b\u0445 \u043f\u043e\u043b\u0435\u0439:<br> (\u0441\u0443\u0449\u043d\u043e\u0441\u0442\u044c - \u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c) <br>id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>first_name - \u0418\u043c\u044f<br>middle_name - \u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e<br>last_name - \u0424\u0430\u043c\u0438\u043b\u0438\u044f<br>phones - \u0421\u043f\u0438\u0441\u043e\u043a \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u043e\u0432<br>phones.id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>phones.number_international - \u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430 \u0432 \u043c\u0435\u0436\u0434\u0443\u043d\u0430\u0440\u043e\u0434\u043d\u043e\u043c \u0438\u043b\u0438 \u043b\u043e\u043a\u0430\u043b\u044c\u043d\u043e\u043c \u0444\u043e\u0440\u043c\u0430\u0442\u0435<br>phones.extension - \u0414\u043e\u0431\u0430\u0432\u043e\u0447\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430<br>phones.is_accepted - \u0422\u0435\u043b\u0435\u0444\u043e\u043d \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0451\u043d<br>phones.is_main - \u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d<br>phones.is_confirmed - \u041f\u0440\u0438\u0437\u043d\u0430\u043a, \u0447\u0442\u043e \u0442\u0435\u043b\u0435\u0444\u043e\u043d \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d<br>birth_at - \u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f<br>roles - \u0420\u043e\u043b\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f<br>gender - \u041f\u043e\u043b \u0447\u0435\u043b\u043e\u0432\u0435\u043a\u0430<br>photo - \u0424\u043e\u0442\u043e<br>photo.url_original - \u0410\u0434\u0440\u0435\u0441 \u043e\u0440\u0438\u0433\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u0439 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438<br>photo.url_small - \u0410\u0434\u0440\u0435\u0441 \u0443\u043c\u0435\u043d\u044c\u0448\u0435\u043d\u043d\u043e\u0439 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438<br>photo.url_medium - \u0410\u0434\u0440\u0435\u0441 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438 \u0441\u0440\u0435\u0434\u043d\u0435\u0433\u043e \u0440\u0430\u0437\u043c\u0435\u0440\u0430<br>region - \u0420\u0435\u0433\u0438\u043e\u043d<br>region.id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>region.name - \u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0432 \u0438\u043c\u0435\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u043c \u043f\u0430\u0434\u0435\u0436\u0435<br>region.name_case_loct - \u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0432 \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u043d\u043e\u043c \u043f\u0430\u0434\u0435\u0436\u0435<br>region.name_case_gent - \u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0432 \u0440\u043e\u0434\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u043c \u043f\u0430\u0434\u0435\u0436\u0435<br>region.domain - \u0414\u043e\u043c\u0435\u043d<br>region.tree_path_ids - \u041f\u0443\u0442\u044c \u0434\u043e \u0440\u0435\u0433\u0438\u043e\u043d\u0430 \u0432 \u0434\u0435\u0440\u0435\u0432\u0435 \u0440\u0435\u0433\u0438\u043e\u043d\u043e\u0432<br>region.type_id - \u0422\u0438\u043f \u0440\u0435\u0433\u0438\u043e\u043d\u0430<br>region.is_big_city - \u0411\u043e\u043b\u044c\u0448\u043e\u0439 \u0433\u043e\u0440\u043e\u0434?<br>region.specify - \u0423\u0442\u043e\u0447\u043d\u0435\u043d\u0438\u0435 \u043e\u0431\u043b\u0430\u0441\u0442\u0438 \u0434\u043b\u044f \u0433\u043e\u0440\u043e\u0434\u043e\u0432 \u0441 \u043e\u0434\u0438\u043d\u0430\u043a\u043e\u0432\u044b\u043c\u0438 \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u044f\u043c\u0438<br>region.has_subway - \u0412 \u0440\u0435\u0433\u0438\u043e\u043d\u0435 \u0435\u0441\u0442\u044c \u043c\u0435\u0442\u0440\u043e?<br>region.geopoint - \u0413\u0435\u043e\u0433\u0440\u0430\u0444\u0438\u0447\u0435\u0441\u043a\u0438\u0435 \u043a\u043e\u043e\u0440\u0434\u0438\u043d\u0430\u0442\u044b (\u0442\u043e\u0447\u043a\u0430)<br>region.distance - \u0414\u0438\u0441\u0442\u0430\u043d\u0446\u0438\u044f \u043c\u0435\u0436\u0434\u0443 \u0440\u0435\u0433\u0438\u043e\u043d\u0430\u043c\u0438 (\u043e\u0431\u043b\u0430\u0441\u0442\u044f\u043c\u0438, \u0433\u043e\u0440\u043e\u0434\u0430\u043c\u0438 \u0438 \u0430\u0434\u0440\u0435\u0441\u0430\u043c\u0438) \u0432 \u043a\u0438\u043b\u043e\u043c\u0435\u0442\u0440\u0430\u0445<br>region.parent_region_name - \u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0440\u043e\u0434\u0438\u0442\u0435\u043b\u044c\u0441\u043a\u043e\u0433\u043e \u0440\u0435\u0433\u0438\u043e\u043d\u0430 \u0432 \u0438\u043c\u0435\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u043c \u043f\u0430\u0434\u0435\u0436\u0435<br>social_accounts - \u0421\u043e\u0446\u0438\u0430\u043b\u044c\u043d\u044b\u0435 \u0441\u0435\u0442\u0438<br>social_accounts.id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432 \u0441\u043e\u0446\u0438\u0430\u043b\u044c\u043d\u043e\u0439 \u0441\u0435\u0442\u0438<br>social_accounts.type_id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u0438\u043f\u0430 \u0441\u043e\u0446\u0438\u0430\u043b\u044c\u043d\u043e\u0439 \u0441\u0435\u0442\u0438<br>created_at - \u0414\u0430\u0442\u0430-\u0432\u0440\u0435\u043c\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f<br>last_modified_at - \u0414\u0430\u0442\u0430-\u0432\u0440\u0435\u043c\u044f \u0438\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u044f<br>last_login_at - \u0414\u0430\u0442\u0430-\u0432\u0440\u0435\u043c\u044f \u043f\u043e\u0441\u043b\u0435\u0434\u043d\u0435\u0433\u043e \u0432\u0445\u043e\u0434\u0430<br>is_blocked - \u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u0437\u0430\u0431\u043b\u043e\u043a\u0438\u0440\u043e\u0432\u0430\u043d<br>has_resume - \u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u0438\u043c\u0435\u0435\u0442 \u0445\u043e\u0442\u044f \u0431\u044b 1 \u0440\u0435\u0437\u044e\u043c\u0435<br>settings - \u041d\u0430\u0441\u0442\u0440\u043e\u0439\u043a\u0438<br>settings.auto_match - \u0410\u0432\u0442\u043e\u043f\u043e\u0434\u0431\u043e\u0440<br>settings.notifications - \u0423\u0432\u0435\u0434\u043e\u043c\u043b\u0435\u043d\u0438\u044f<br>call_time - \u0412\u0440\u0435\u043c\u044f \u0437\u0432\u043e\u043d\u043a\u0430<br>call_time.from - \u041d\u0430\u0447\u0430\u043b\u043e \u0432\u0440\u0435\u043c\u0435\u043d\u043d\u043e\u0433\u043e \u0438\u043d\u0442\u0435\u0440\u0432\u0430\u043b\u0430<br>call_time.to - \u041a\u043e\u043d\u0435\u0446 \u0432\u0440\u0435\u043c\u0435\u043d\u043d\u043e\u0433\u043e \u0438\u043d\u0442\u0435\u0440\u0432\u0430\u043b\u0430<br>call_time.timezone - \u0422\u0430\u0439\u043c\u0437\u043e\u043d\u0430<br>email - Email \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f<br>email.value - \u0410\u0434\u0440\u0435\u0441 \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u043e\u0439 \u043f\u043e\u0447\u0442\u044b<br>email.is_confirmed - \u041f\u0440\u0438\u0437\u043d\u0430\u043a, \u0447\u0442\u043e email \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d<br>is_available_autoresponse - \u0412\u043e\u0437\u043c\u043e\u0436\u0435\u043d \u043b\u0438 \u0430\u0432\u0442\u043e\u0442\u043a\u043b\u0438\u043a<br>is_disabled_autoresponse - \u041e\u0442\u043a\u043b\u044e\u0447\u0435\u043d\u0430 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0441\u0442\u044c \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u044c \u0430\u0432\u0442\u043e\u043e\u0442\u043a\u043b\u0438\u043a<br>is_agree_mailouts - \u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u0441\u043e\u0433\u043b\u0430\u0441\u0435\u043d \u043d\u0430 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0440\u0435\u043a\u043b\u0430\u043c\u043d\u044b\u0445 \u0440\u0430\u0441\u0441\u044b\u043b\u043e\u043a<br>is_agree_transfer_data_to_sberbank - \u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u0441\u043e\u0433\u043b\u0430\u0441\u0435\u043d \u043d\u0430 \u043f\u0435\u0440\u0435\u0434\u0430\u0447\u0443 \u043f\u0435\u0440\u0441\u043e\u043d\u0430\u043b\u044c\u043d\u044b\u0445 \u0434\u0430\u043d\u043d\u044b\u0445 \u0421\u0431\u0435\u0440\u0431\u0430\u043d\u043a\u0443<br>status - \u0421\u0442\u0430\u0442\u0443\u0441 \u0441\u043e\u0438\u0441\u043a\u0430\u0442\u0435\u043b\u044f<br>status.id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>status.title - \u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u0430<br>status.alias - \u0410\u043b\u0438\u0430\u0441 \u0441\u0442\u0430\u0442\u0443\u0441\u0430<br>status.actions - \u0414\u0435\u0439\u0441\u0442\u0432\u0438\u044f \u0441\u0442\u0430\u0442\u0443\u0441\u0430<br>is_married - \u0421\u043e\u0441\u0442\u043e\u044e \u0432 \u0431\u0440\u0430\u043a\u0435<br>citizenship - \u0413\u0440\u0430\u0436\u0434\u0430\u043d\u0441\u0442\u0432\u043e<br>citizenship.country_id<br>citizenship.has_permission<br>citizenship.country - \u0421\u0442\u0440\u0430\u043d\u0430<br>education_level - \u0423\u0440\u043e\u0432\u0435\u043d\u044c \u043e\u0431\u0440\u0430\u0437\u043e\u0432\u0430\u043d\u0438\u044f<br>education_level.id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>education_level.name - \u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043e\u0431\u0440\u0430\u0437\u043e\u0432\u0430\u043d\u0438\u044f<br>experiences - \u041e\u043f\u044b\u0442\u044b \u0440\u0430\u0431\u043e\u0442\u044b<br>experiences.id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>experiences.started_at - \u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u0440\u0430\u0431\u043e\u0442\u044b<br>experiences.finished_at - \u0414\u0430\u0442\u0430 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u0440\u0430\u0431\u043e\u0442\u044b<br>experiences.company - \u041a\u043e\u043c\u043f\u0430\u043d\u0438\u044f<br>experiences.position - \u0414\u043e\u043b\u0436\u043d\u043e\u0441\u0442\u044c<br>experiences.city - \u0413\u043e\u0440\u043e\u0434<br>experiences.comment - \u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439 (\u041e\u0431\u044f\u0437\u0430\u043d\u043d\u043e\u0441\u0442\u0438, \u0444\u0443\u043d\u043a\u0446\u0438\u0438 \u0438 \u0434\u043e\u0441\u0442\u0438\u0436\u0435\u043d\u0438\u044f)<br>certificates - \u0421\u0435\u0440\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u044b \u0438 \u0434\u0438\u043f\u043b\u043e\u043c\u044b<br>certificates.id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>certificates.name - \u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435<br>certificates.year - \u0413\u043e\u0434 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f<br>certificates.document - \u0414\u043e\u043a\u0443\u043c\u0435\u043d\u0442<br>certificates.external_link - \u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u0432\u043d\u0435\u0448\u043d\u0438\u0439 \u0440\u0435\u0441\u0443\u0440\u0441<br>languages - \u0412\u043b\u0430\u0434\u0435\u043d\u0438\u0435 \u044f\u0437\u044b\u043a\u0430\u043c\u0438<br>languages.id - ID \u0432\u043b\u0430\u0434\u0435\u043d\u0438\u044f \u044f\u0437\u044b\u043a\u043e\u043c<br>languages.language - <br>languages.level - \u0423\u0440\u043e\u0432\u0435\u043d\u044c \u0432\u043b\u0430\u0434\u0435\u043d\u0438\u044f \u044f\u0437\u044b\u043a\u043e\u043c<br>native_language - \u0420\u043e\u0434\u043d\u043e\u0439 \u044f\u0437\u044b\u043a<br>native_language.id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>native_language.name - \u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u044f\u0437\u044b\u043a\u0430<br>educations - \u0423\u0447\u0435\u0431\u043d\u044b\u0435 \u0437\u0430\u0432\u0435\u0434\u0435\u043d\u0438\u044f<br>educations.id - ID \u0443\u0447\u0435\u0431\u043d\u043e\u0433\u043e \u0437\u0430\u0432\u0435\u0434\u0435\u043d\u0438\u044f<br>educations.level - \u0423\u0440\u043e\u0432\u0435\u043d\u044c \u043e\u0431\u0440\u0430\u0437\u043e\u0432\u0430\u043d\u0438\u044f<br>educations.name - \u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0443\u0447\u0435\u0431\u043d\u043e\u0433\u043e \u0437\u0430\u0432\u0435\u0434\u0435\u043d\u0438\u044f<br>educations.speciality - \u0421\u043f\u0435\u0446\u0438\u0430\u043b\u044c\u043d\u043e\u0441\u0442\u044c<br>educations.finished_at - \u0413\u043e\u0434 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f<br>has_children - \u0415\u0441\u0442\u044c \u0434\u0435\u0442\u0438<br>","default":[],"items":{"type":"string","enum":["id","first_name","middle_name","last_name","phones","phones.id","phones.number_international","phones.extension","phones.is_accepted","phones.is_main","phones.is_confirmed","birth_at","roles","gender","photo","photo.url_original","photo.url_small","photo.url_medium","region","region.id","region.name","region.name_case_loct","region.name_case_gent","region.domain","region.tree_path_ids","region.type_id","region.is_big_city","region.specify","region.has_subway","region.geopoint","region.distance","region.parent_region_name","social_accounts","social_accounts.id","social_accounts.type_id","created_at","last_modified_at","last_login_at","is_blocked","has_resume","settings","settings.auto_match","settings.notifications","call_time","call_time.from","call_time.to","call_time.timezone","email","email.value","email.is_confirmed","is_available_autoresponse","is_disabled_autoresponse","is_agree_mailouts","is_agree_transfer_data_to_sberbank","status","status.id","status.title","status.alias","status.actions","is_married","citizenship","citizenship.country_id","citizenship.has_permission","citizenship.country","education_level","education_level.id","education_level.name","experiences","experiences.id","experiences.started_at","experiences.finished_at","experiences.company","experiences.position","experiences.city","experiences.comment","certificates","certificates.id","certificates.name","certificates.year","certificates.document","certificates.external_link","languages","languages.id","languages.language","languages.level","native_language","native_language.id","native_language.name","educations","educations.id","educations.level","educations.name","educations.speciality","educations.finished_at","has_children"]},"maxItems":500}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"$ref":"#\/components\/schemas\/ProfilePersonApplicant"},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u0430 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u044f"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u043e\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435"}},"security":[{"api_key":[]}]}},"\/me\/companies\/join\/search.json":{"post":{"summary":"\u041f\u043e\u0438\u0441\u043a \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0439 \u0434\u043b\u044f \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u044f \u043f\u043e \u0418\u041d\u041d \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0441\u0442\u044c\u044e \u0444\u0438\u043b\u044c\u0442\u0440\u0430\u0446\u0438\u0438","operationId":"meCompaniesJoinSearchAction","tags":["person"," company"," owner_hr"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u041f\u043e\u0438\u0441\u043a \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0439 \u0434\u043b\u044f \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u044f","type":"object","required":["query"],"properties":{"query":{"title":"\u041f\u043e\u0438\u0441\u043a\u043e\u0432\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441","nullable":false,"minLength":1,"type":"string","maxLength":50000},"search_fields":{"title":"\u0421\u043f\u0438\u0441\u043e\u043a \u043f\u043e\u043b\u0435\u0439 \u0434\u043b\u044f \u043f\u043e\u0438\u0441\u043a\u0430, \u0435\u0441\u043b\u0438 NULL - \u043f\u043e\u0438\u0441\u043a \u043f\u043e \u0432\u0441\u0435\u043c \u043f\u043e\u043b\u044f\u043c","nullable":true,"type":"array","minItems":1,"items":{"type":"string","enum":["id","name","inn"]},"maxItems":500},"region_id":{"allOf":[{"$ref":"#\/components\/schemas\/IdIntMin1"},{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 \u0434\u043b\u044f \u0444\u0438\u043b\u044c\u0442\u0440\u0430\u0446\u0438\u0438 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u0430 \u043f\u043e\u0438\u0441\u043a\u0430","nullable":true}]},"limit":{"$ref":"#\/components\/schemas\/Limit"},"offset":{"$ref":"#\/components\/schemas\/Offset"}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"companies":{"description":"\u0421\u043f\u0438\u0441\u043e\u043a \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0439","type":"array","items":{"$ref":"#\/components\/schemas\/MeCompaniesJoinSearch"}},"total":{"$ref":"#\/components\/schemas\/Total"}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"403":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0414\u043e\u0441\u0442\u0443\u043f \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u0430 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u044f"}},"security":[{"api_key":[]}]}},"\/me\/company.json":{"post":{"summary":"\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u0442\u0435\u043a\u0443\u0449\u0435\u0433\u043e \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f","operationId":"meCompanyAction","tags":["person"," company"," owner_hr"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"type":"object","properties":{"fields":{"type":"array","title":"\u041f\u043e\u043b\u044f \u0434\u043b\u044f \u0432\u044b\u0431\u043e\u0440\u043a\u0438","description":"\u041f\u0443\u0441\u0442\u043e\u0439 \u043c\u0430\u0441\u0441\u0438\u0432 \u0434\u043b\u044f \u0432\u044b\u0431\u043e\u0440\u043a\u0438 \u0432\u0441\u0435\u0445 \u043f\u043e\u043b\u0435\u0439 \u0438\u043b\u0438 \u0441\u043f\u0438\u0441\u043e\u043a \u0432\u044b\u0431\u0438\u0440\u0430\u0435\u043c\u044b\u0445 \u043f\u043e\u043b\u0435\u0439:<br> (\u0441\u0443\u0449\u043d\u043e\u0441\u0442\u044c - ) <br>id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>name - \u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435<br>slug - \u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u0434\u043b\u044f \u0427\u041f\u0423<br>offer_branches - \u0421\u0444\u0435\u0440\u044b \u0434\u0435\u044f\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u0438<br>offer_branches.id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>offer_branches.name - \u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435<br>offer_branches.children - \u0414\u043e\u0447\u0435\u0440\u043d\u0438\u0435 \u0441\u0444\u0435\u0440\u044b<br>logo - \u0424\u043e\u0442\u043e<br>logo.url_original - \u0410\u0434\u0440\u0435\u0441 \u043e\u0440\u0438\u0433\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u0439 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438<br>logo.url_small - \u0410\u0434\u0440\u0435\u0441 \u0443\u043c\u0435\u043d\u044c\u0448\u0435\u043d\u043d\u043e\u0439 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438<br>logo.url_medium - \u0410\u0434\u0440\u0435\u0441 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438 \u0441\u0440\u0435\u0434\u043d\u0435\u0433\u043e \u0440\u0430\u0437\u043c\u0435\u0440\u0430<br>logo_vacancy_preview - \u0418\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u0435 \u0434\u043b\u044f \u043f\u0440\u0435\u0432\u044c\u044e\u0448\u043a\u0438 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u0432 \u0441\u043f\u0438\u0441\u043a\u0435 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0439<br>logo_vacancy_preview.url - \u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0430\u0434\u0440\u0435\u0441 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438<br>logo_vacancy_preview.srcset<br>logo_vacancy_preview.title<br>logo_vacancy_preview.alt<br>logo_company_preview - \u0418\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u0435 \u0434\u043b\u044f \u043f\u0440\u0435\u0432\u044c\u044e\u0448\u043a\u0438 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u0432 \u0441\u043f\u0438\u0441\u043a\u0435<br>logo_company_preview.url - \u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0430\u0434\u0440\u0435\u0441 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438<br>logo_company_preview.srcset<br>logo_company_preview.title<br>logo_company_preview.alt<br>logo_vacancy_detail_preview - \u0418\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u0435 \u0434\u043b\u044f \u0434\u0435\u0442\u0430\u043b\u044c\u043d\u043e\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438<br>logo_vacancy_detail_preview.url - \u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0430\u0434\u0440\u0435\u0441 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438<br>logo_vacancy_detail_preview.srcset<br>logo_vacancy_detail_preview.title<br>logo_vacancy_detail_preview.alt<br>type - \u0422\u0438\u043f, \u043e\u0442\u0440\u0430\u0441\u043b\u044c<br>short_description - \u041a\u0440\u0430\u0442\u043a\u043e\u0435 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435<br>description_pages - \u0421\u043f\u0438\u0441\u043e\u043a \u0441\u0442\u0440\u0430\u043d\u0438\u0446 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0439 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438<br>description_pages.title - \u0417\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u044f<br>description_pages.text - \u0422\u0435\u043a\u0441\u0442 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u044f<br>company_size<br>company_size.id<br>company_size.name<br>company_type_of_ownership<br>company_type_of_ownership.id<br>company_type_of_ownership.name<br>company_main_representation<br>company_main_representation.id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044c\u0441\u0442\u0432\u0430<br>company_main_representation.name - \u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435<br>company_main_representation.is_main - \u042f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043b\u0438 \u043e\u0444\u0438\u0441 \u0433\u043b\u0430\u0432\u043d\u044b\u043c<br>company_main_representation.address - \u0410\u0434\u0440\u0435\u0441<br>company_main_representation.phones - \u0422\u0435\u043b\u0435\u0444\u043e\u043d\u044b<br>company_main_representation.point - \u0413\u0435\u043e\u0433\u0440\u0430\u0444\u0438\u0447\u0435\u0441\u043a\u0438\u0435 \u043a\u043e\u043e\u0440\u0434\u0438\u043d\u0430\u0442\u044b (\u0442\u043e\u0447\u043a\u0430)<br>company_main_representation.subway_stations - \u0421\u043f\u0438\u0441\u043e\u043a \u043c\u0435\u0442\u0440\u043e<br>company_main_representation.is_show_on_map - \u041d\u0443\u0436\u043d\u043e \u043b\u0438 \u043f\u043e\u043a\u0430\u0437\u044b\u0432\u0430\u0442\u044c \u043d\u0430 \u043a\u0430\u0440\u0442\u0435?<br>company_main_representation.map_zoom - \u0416\u0435\u043b\u0430\u0435\u043c\u044b\u0439 \u043c\u0430\u0441\u0448\u0442\u0430\u0431 \u043a\u0430\u0440\u0442\u044b<br>company_main_representation.web_site - \u0421\u0430\u0439\u0442<br>company_main_representation.region - \u0420\u0435\u0433\u0438\u043e\u043d<br>company_main_representation.kladr_id - \u041a\u041b\u0410\u0414\u0420 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 (\u043a\u043e\u0434)<br>company_main_representation.street_kladr_id - \u041a\u041b\u0410\u0414\u0420 \u0443\u043b\u0438\u0446\u044b<br>company_main_representation.city_kladr_id - \u041a\u041b\u0410\u0414\u0420 \u0433\u043e\u0440\u043e\u0434\u0430<br>company_main_representation.settlement_kladr_id - \u041a\u041b\u0410\u0414\u0420 \u043f\u043e\u0441\u0435\u043b\u043a\u0430<br>company_main_representation.house - \u0414\u043e\u043c<br>is_direct_recruiter<br>awards - \u041d\u0430\u0433\u0440\u0430\u0434\u044b<br>awards.id - \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440<br>awards.name - \u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435<br>awards.description - \u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435<br>awards.url - \u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0443 \u0441 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435\u043c \u043d\u0430\u0433\u0440\u0430\u0434\u044b<br>awards.year - \u0413\u043e\u0434 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u043d\u0430\u0433\u0440\u0430\u0434\u044b<br>benefits - \u0411\u043e\u043d\u0443\u0441\u044b \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438<br>benefits.id - \u0418\u0434<br>benefits.name - \u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435<br>benefits.description - \u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435<br>benefits.icon_path - \u0418\u043a\u043e\u043d\u043a\u0430<br>call_tracking_enabled - \u0423 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u0430 \u0441\u0445\u0435\u043c\u0430 \u043f\u043e\u0434\u043c\u0435\u043d\u044b \u043d\u043e\u043c\u0435\u0440\u043e\u0432<br>rostrud_sync_enabled - \u0423 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u0430 \u043e\u0442\u043f\u0440\u0430\u0432\u043a\u0430 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0439 \u0432 \u0420\u043e\u0441\u0442\u0440\u0443\u0434<br>quick_response_enabled - \u0423 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u0432\u043a\u043b\u044e\u0447\u0435\u043d \u0431\u044b\u0441\u0442\u0440\u044b\u0439 \u043e\u0442\u043a\u043b\u0438\u043a<br>personal_manager - \u041f\u0435\u0440\u0441\u043e\u043d\u0430\u043b\u044c\u043d\u044b\u0439 \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438<br>personal_manager.type - \u0422\u0438\u043f \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043e\u0432 \u043f\u0435\u0440\u0441\u043e\u043d\u0430\u043b\u044c\u043d\u043e\u0433\u043e \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0430<br>personal_manager.name - \u0418\u043c\u044f<br>personal_manager.email - \u0410\u0434\u0440\u0435\u0441 \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u043e\u0439 \u043f\u043e\u0447\u0442\u044b<br>personal_manager.phone - \u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430 \u0432 \u043c\u0435\u0436\u0434\u0443\u043d\u0430\u0440\u043e\u0434\u043d\u043e\u043c \u0438\u043b\u0438 \u043b\u043e\u043a\u0430\u043b\u044c\u043d\u043e\u043c \u0444\u043e\u0440\u043c\u0430\u0442\u0435<br>is_verified - \u041f\u0440\u043e\u0432\u0435\u0440\u0435\u043d\u043d\u043e \u0420\u0430\u0431\u043e\u0442\u043e\u0439.\u0440\u0443<br>status - \u0421\u0442\u0430\u0442\u0443\u0441<br>is_activated_recently - \u041d\u0435\u0434\u0430\u0432\u043d\u043e \u0430\u043a\u0442\u0438\u0432\u0438\u0440\u043e\u0432\u0430\u043d\u0430<br>is_sbbol - \u042f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043b\u0438 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u044f \u0421\u0411\u0411\u041e\u041b<br>is_in_blacklist - \u041a\u043e\u043c\u043f\u0430\u043d\u0438\u044f \u0432 \u0447\u0435\u0440\u043d\u043e\u043c \u0441\u043f\u0438\u0441\u043a\u0435 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f<br>is_basic_solution_project - \u042f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043b\u0438 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u044f \u0443\u0447\u0430\u0441\u0442\u043d\u0438\u043a\u043e\u043c \u043f\u0440\u043e\u0435\u043a\u0442\u0430 \"\u0411\u0430\u0437\u043e\u0432\u043e\u0435 \u0440\u0435\u0448\u0435\u043d\u0438\u0435\"<br>vacancies_count - \u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0439<br>created_date - \u0414\u0430\u0442\u0430-\u0432\u0440\u0435\u043c\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0443\u0447\u0435\u0442\u043d\u043e\u0439 \u0437\u0430\u043f\u0438\u0441\u0438 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438<br>is_spam - \u041d\u0430\u0445\u043e\u0434\u0438\u0442\u0441\u044f \u043b\u0438 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u044f \u0432 \u0431\u0430\u043d\u0435<br>","default":[],"items":{"type":"string","enum":["id","name","slug","offer_branches","offer_branches.id","offer_branches.name","offer_branches.children","logo","logo.url_original","logo.url_small","logo.url_medium","logo_vacancy_preview","logo_vacancy_preview.url","logo_vacancy_preview.srcset","logo_vacancy_preview.title","logo_vacancy_preview.alt","logo_company_preview","logo_company_preview.url","logo_company_preview.srcset","logo_company_preview.title","logo_company_preview.alt","logo_vacancy_detail_preview","logo_vacancy_detail_preview.url","logo_vacancy_detail_preview.srcset","logo_vacancy_detail_preview.title","logo_vacancy_detail_preview.alt","type","short_description","description_pages","description_pages.title","description_pages.text","company_size","company_size.id","company_size.name","company_type_of_ownership","company_type_of_ownership.id","company_type_of_ownership.name","company_main_representation","company_main_representation.id","company_main_representation.name","company_main_representation.is_main","company_main_representation.address","company_main_representation.phones","company_main_representation.point","company_main_representation.subway_stations","company_main_representation.is_show_on_map","company_main_representation.map_zoom","company_main_representation.web_site","company_main_representation.region","company_main_representation.kladr_id","company_main_representation.street_kladr_id","company_main_representation.city_kladr_id","company_main_representation.settlement_kladr_id","company_main_representation.house","is_direct_recruiter","awards","awards.id","awards.name","awards.description","awards.url","awards.year","benefits","benefits.id","benefits.name","benefits.description","benefits.icon_path","call_tracking_enabled","rostrud_sync_enabled","quick_response_enabled","personal_manager","personal_manager.type","personal_manager.name","personal_manager.email","personal_manager.phone","is_verified","status","is_activated_recently","is_sbbol","is_in_blacklist","is_basic_solution_project","vacancies_count","created_date","is_spam"]},"maxItems":500}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"$ref":"#\/components\/schemas\/V6Company"},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u0430 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u044f"},"403":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0414\u043e\u0441\u0442\u0443\u043f \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d"}},"security":[{"api_key":[]}]}},"\/me\/company\/create.json":{"post":{"summary":"\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u0434\u043b\u044f \u0442\u0435\u043a\u0443\u0449\u0435\u0433\u043e \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043f\u043e \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u0430\u043c","operationId":"meCompanyCreateAction","tags":["company"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u0420\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f \u043d\u043e\u0432\u043e\u0439 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"object","properties":{"inn":{"$ref":"#\/components\/schemas\/Inn"},"company_name":{"type":"string","title":"\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438","minLength":1,"maxLength":50000},"company_business_entity_type_id":{"allOf":[{"$ref":"#\/components\/schemas\/IdIntMin0"},{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0444\u043e\u0440\u043c\u044b \u0441\u043e\u0431\u0441\u0442\u0432\u0435\u043d\u043d\u043e\u0441\u0442\u0438 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438"}]},"is_allow_inn_double":{"title":"\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0441\u0442\u044c \u0441\u043e\u0437\u0434\u0430\u0442\u044c \u0434\u0443\u0431\u043b\u044c \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u043f\u043e \u0418\u041d\u041d","type":"boolean","default":false},"kpp":{"$ref":"#\/components\/schemas\/Kpp"},"ogrn":{"$ref":"#\/components\/schemas\/Ogrn"},"ogrnip":{"$ref":"#\/components\/schemas\/Ogrnip"},"legal_address":{"title":"\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"string","nullable":true,"minLength":1,"maxLength":512},"company_type":{"description":"\u0422\u0438\u043f \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 (\u043f\u0440\u044f\u043c\u043e\u0439 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044c, \u043a\u0430\u0434\u0440\u043e\u0432\u043e\u0435 \u0430\u0433\u0435\u043d\u0441\u0442\u0432\u043e)","type":"string","enum":["direct","agency"]},"legal_title":{"$ref":"#\/components\/schemas\/LegalTitle"},"region_id":{"allOf":[{"$ref":"#\/components\/schemas\/IdIntMin1"},{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0433\u0438\u043e\u043d\u0430","nullable":true}]}},"required":["inn","company_name","company_business_entity_type_id","company_type"],"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"is_duplicate_by_inn":{"allOf":[{"$ref":"#\/components\/schemas\/IsSucceed"},{"title":"\u041a\u043e\u043c\u043f\u0430\u043d\u0438\u044f \u0441 \u0442\u0430\u043a\u0438\u043c \u0418\u041d\u041d \u0443\u0436\u0435 \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u0443\u0435\u0442"}]},"is_new":{"title":"\u041d\u043e\u0432\u043e\u0441\u043e\u0437\u0434\u0430\u043d\u043d\u0430\u044f \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u044f","type":"boolean"},"company_id":{"allOf":[{"$ref":"#\/components\/schemas\/IdIntMin1"},{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","description":"\n## \u0412\u041d\u0418\u041c\u0410\u041d\u0418\u0415:\n\u0435\u0441\u043b\u0438 \u0444\u043b\u0430\u0433 *is_duplicate_by_inn* \u0440\u0430\u0432\u0435\u043d:  \n - *FALSE* \u2013 \u0442\u043e \u0437\u0434\u0435\u0441\u044c \u043f\u0440\u0438\u0434\u0451\u0442 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043d\u043e\u0432\u043e\u0439, \u0442\u043e\u043b\u044c\u043a\u043e \u0447\u0442\u043e \u0441\u043e\u0437\u0434\u0430\u043d\u043d\u043e\u0439, \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \n             \u043a \u043a\u043e\u0442\u043e\u0440\u043e\u0439 \u0431\u044b\u043b \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0451\u043d \u0441\u043e\u0437\u0434\u0430\u0432\u0430\u0435\u043c\u044b\u0439 \u0440\u0435\u043a\u0440\u0443\u0442\u0435\u0440;  \n - *TRUE*  \u2013 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0443\u0436\u0435 \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u0443\u044e\u0449\u0435\u0439 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438, \u0438\u043c\u0435\u044e\u0449\u0435\u0439 \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u044b\u0439 \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435 \u0418\u041d\u041d. \n             \u0412 \u044d\u0442\u043e\u043c \u0441\u043b\u0443\u0447\u0430\u0435 \u043d\u043e\u0432\u044b\u0439 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0431\u0443\u0434\u0435\u0442 \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0451\u043d \u043a \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u0430\u0432\u0442\u043e\u043c\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0438.\n"}]}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"},"500":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"}},"security":[{"api_key":[]}]}},"\/me\/company\/credentials\/create.json":{"post":{"summary":"\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u043e\u0432 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","operationId":"meCompanyCredentialsCreate","tags":["company","credentials","owner_hr"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u043d\u0430\u0431\u043e\u0440\u0430 \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u043e\u0432 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"object","required":["credential_set"],"properties":{"credential_set":{"allOf":[{"title":"\u041d\u0430\u0431\u043e\u0440 \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u043e\u0432 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"object","properties":{"email_setting":{"title":"\u042d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u0430\u044f \u043f\u043e\u0447\u0442\u0430","type":"object","properties":{"email":{"title":"\u0410\u0434\u0440\u0435\u0441 \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u043e\u0439 \u043f\u043e\u0447\u0442\u044b","description":"\u0423\u0440\u043e\u0432\u043d\u0438 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438 email:\n1. \u0441\u0438\u043d\u0442\u0430\u043a\u0441\u0438\u0441 \u0432\u0435\u0440\u043d\u044b\u0439 (\u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u044b \u043e\u0431\u043e\u0441\u043e\u0431\u043b\u0435\u043d\u043d\u044b\u0435 \u0447\u0430\u0441\u0442\u0438 \u0438\u043c\u0451\u043d \u043d\u0430 \u043a\u0438\u0440\u0438\u043b\u043b\u0438\u0446\u0435)\n2. \u0434\u043e\u043c\u0435\u043d \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u0435\u0442 \u0432 \u0447\u0451\u0440\u043d\u043e\u043c \u0441\u043f\u0438\u0441\u043a\u0435 (\u0441\u0435\u0440\u0432\u0438\u0441\u044b \u043e\u0434\u043d\u043e\u0440\u0430\u0437\u043e\u0432\u043e\u0439 \u043f\u043e\u0447\u0442\u044b)\n3. \u0434\u043e\u043c\u0435\u043d \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u0443\u0435\u0442 (\u043f\u0440\u043e\u0432\u0435\u0440\u043a\u0430 MX \u0437\u0430\u043f\u0438\u0441\u0438 \u0432 DNS)\n\u0412\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u044f \u043f\u0440\u0438\u043c\u0435\u043d\u044f\u0435\u0442\u0441\u044f \u0442\u043e\u043b\u044c\u043a\u043e \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0430\u0445, \u043d\u0430\u0441\u0442\u0440\u0430\u0438\u0432\u0430\u0435\u0442\u0441\u044f \u0444\u043b\u0430\u0433\u043e\u043c x-full-validation:\n\u043f\u043e\u043b\u043d\u0430\u044f: \u0432\u0441\u0435 3 \u0443\u0440\u043e\u0432\u043d\u044f; \u0443\u043f\u0440\u043e\u0449\u0451\u043d\u043d\u0430\u044f: 0 \u0443\u0440\u043e\u0432\u043d\u0435\u0439.\n\u0421\u0438\u043d\u0442\u0430\u043a\u0441\u0438\u0441 \u0432 punycode \u0430\u0432\u0442\u043e\u043c\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0438 \u043a\u043e\u043d\u0432\u0435\u0440\u0442\u0438\u0440\u0443\u0435\u0442\u0441\u044f ('xn--@-7sbbfb7a0bicj8a0d.xn--p1ai' => '\u0438\u0432\u0430\u043d\u043e\u0432@\u043f\u043e\u0447\u0442\u0430.\u0440\u0444')","type":"string","format":"email","minLength":7,"maxLength":320,"x-full-validation":false},"is_send":{"title":"\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u043f\u043e \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u043e\u0439 \u043f\u043e\u0447\u0442\u0435","type":"boolean"}}},"post_setting":{"title":"\u041e\u0431\u044b\u0447\u043d\u0430\u044f \u043f\u043e\u0447\u0442\u0430","type":"object","properties":{"address":{"title":"\u041f\u043e\u0447\u0442\u043e\u0432\u044b\u0439 \u0430\u0434\u0440\u0435\u0441 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"string","minLength":1,"maxLength":512},"code":{"title":"\u041f\u043e\u0447\u0442\u043e\u0432\u044b\u0439 \u0438\u043d\u0434\u0435\u043a\u0441","type":"string","nullable":true,"pattern":"\/^\\d+$\/s","minLength":6,"maxLength":6},"is_send":{"title":"\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u043f\u043e \u043f\u043e\u0447\u0442\u0435","type":"boolean"}}},"name":{"title":"\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043d\u0430\u0431\u043e\u0440\u0430 \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u043e\u0432","type":"string","nullable":true,"minLength":1,"maxLength":128},"inn":{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440 \u043d\u0430\u043b\u043e\u0433\u043e\u043f\u043b\u0430\u0442\u0435\u043b\u044c\u0449\u0438\u043a\u0430","description":"\u0426\u0438\u0444\u0440\u043e\u0432\u043e\u0439 \u043a\u043e\u0434, \u0443\u043f\u043e\u0440\u044f\u0434\u043e\u0447\u0438\u0432\u0430\u044e\u0449\u0438\u0439 \u0443\u0447\u0451\u0442 \u043d\u0430\u043b\u043e\u0433\u043e\u043f\u043b\u0430\u0442\u0435\u043b\u044c\u0449\u0438\u043a\u043e\u0432 \u0432 \u0420\u043e\u0441\u0441\u0438\u0439\u0441\u043a\u043e\u0439 \u0424\u0435\u0434\u0435\u0440\u0430\u0446\u0438\u0438","type":"string","pattern":"\/^\\d+$\/s","minLength":10,"maxLength":12},"kpp":{"title":"\u041a\u041f\u041f","description":"\u041a\u043e\u0434 \u043f\u0440\u0438\u0447\u0438\u043d\u044b \u043f\u043e\u0441\u0442\u0430\u043d\u043e\u0432\u043a\u0438 \u043d\u0430 \u0443\u0447\u0435\u0442","type":"string","nullable":true,"pattern":"\/^\\d+$\/s","minLength":9,"maxLength":9},"ogrn":{"title":"\u041e\u0413\u0420\u041d","description":"\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0433\u043e\u0441\u0443\u0434\u0430\u0440\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440","type":"string","nullable":true,"pattern":"\/^\\d{13}$|^\\d{15}$\/s"},"ogrnip":{"title":"\u041e\u0413\u0420\u041d\u0418\u041f","description":"\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0433\u043e\u0441\u0443\u0434\u0430\u0440\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440 \u0438\u043d\u0434\u0438\u0432\u0438\u0434\u0443\u0430\u043b\u044c\u043d\u043e\u0433\u043e \u043f\u0440\u0435\u0434\u043f\u0440\u0438\u043d\u0438\u043c\u0430\u0442\u0435\u043b\u044f","type":"string","nullable":true,"pattern":"\/^\\d{15}$\/s"},"legal_type":{"title":"\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0442\u0438\u043f \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"object","nullable":true,"properties":{"id":{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440","type":"integer","format":"int64","minimum":1,"maximum":9223372036854775807}}},"current_account":{"title":"\u0420\u0430\u0441\u0447\u0451\u0442\u043d\u044b\u0439 \u0441\u0447\u0451\u0442 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"string","nullable":true,"pattern":"\/^\\d+$\/s","minLength":20,"maxLength":20},"correspondent_account":{"title":"\u041a\u043e\u0440\u0440\u0435\u0441\u043f\u043e\u043d\u0434\u0435\u043d\u0442\u0441\u043a\u0438\u0439 \u0441\u0447\u0451\u0442 \u0431\u0430\u043d\u043a\u0430","type":"string","nullable":true,"pattern":"\/^\\d+$\/s","minLength":20,"maxLength":20},"bank_name":{"title":"\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0431\u0430\u043d\u043a\u0430","type":"string","nullable":true,"minLength":1,"maxLength":128},"bank_bik":{"title":"\u0411\u0418\u041a","description":"\u0411\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u0438\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u043a\u043e\u0434 - \u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0431\u0430\u043d\u043a\u0430,\n             \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u043c\u044b\u0439 \u0432 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u044b\u0445 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0445 \u043d\u0430 \u0442\u0435\u0440\u0440\u0438\u0442\u043e\u0440\u0438\u0438 \u0420\u043e\u0441\u0441\u0438\u0438","type":"string","pattern":"\/^\\d+$\/s","minLength":9,"maxLength":9},"legal_title":{"title":"\u042e\u0440. \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435","description":"\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u0441 \u0444\u043e\u0440\u043c\u043e\u0439 \u0441\u043e\u0431\u0441\u0442\u0432\u0435\u043d\u043d\u043e\u0441\u0442\u0438","type":"string","minLength":1,"maxLength":10240},"legal_address":{"title":"\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"string","nullable":true,"minLength":1,"maxLength":512},"fact_address":{"title":"\u0424\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"string","nullable":true,"minLength":1,"maxLength":512},"company_essential_id":{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u043e\u0432 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 (\u043e\u0441\u043d\u043e\u0432\u043d\u0430\u044f \u0441\u0445\u0435\u043c\u0430)","type":"integer","format":"int64","minimum":1,"maximum":9223372036854775807}}},{"required":["inn","legal_type"],"properties":{"email_setting":{"oneOf":[{"allOf":[{"$ref":"#\/components\/schemas\/CredentialsEmail"},{"required":["is_send"],"properties":{"is_send":{"enum":[false]}}}]},{"allOf":[{"$ref":"#\/components\/schemas\/CredentialsEmail"},{"required":["is_send","email"],"properties":{"is_send":{"enum":[true]}}}]}]},"post_setting":{"oneOf":[{"allOf":[{"$ref":"#\/components\/schemas\/CredentialsPost"},{"required":["is_send"],"properties":{"is_send":{"enum":[false]}}}]},{"allOf":[{"$ref":"#\/components\/schemas\/CredentialsPost"},{"required":["is_send","address","code"],"properties":{"is_send":{"enum":[true]}}}]}]}}}]}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/IdIntMin1"}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"},"403":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0414\u043e\u0441\u0442\u0443\u043f \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d"},"500":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"}},"security":[{"api_key":[]}]}},"\/me\/company\/credentials\/edit.json":{"post":{"summary":"\u0418\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u0435 \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u043e\u0432 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","operationId":"meCompanyCredentialsEdit","tags":["company","credentials","owner_hr"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u0418\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u0435 \u043d\u0430\u0431\u043e\u0440\u0430 \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u043e\u0432 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"object","required":["credential_set"],"properties":{"credential_set":{"allOf":[{"title":"\u041d\u0430\u0431\u043e\u0440 \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u043e\u0432 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"object","properties":{"id":{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u043e\u0432 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 (\u0431\u0438\u043b\u043b\u0438\u043d\u0433 \u0441\u0445\u0435\u043c\u0430)","type":"integer","format":"int64","minimum":1,"maximum":9223372036854775807},"email_setting":{"title":"\u042d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u0430\u044f \u043f\u043e\u0447\u0442\u0430","type":"object","properties":{"email":{"title":"\u0410\u0434\u0440\u0435\u0441 \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u043e\u0439 \u043f\u043e\u0447\u0442\u044b","description":"\u0423\u0440\u043e\u0432\u043d\u0438 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438 email:\n1. \u0441\u0438\u043d\u0442\u0430\u043a\u0441\u0438\u0441 \u0432\u0435\u0440\u043d\u044b\u0439 (\u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u044b \u043e\u0431\u043e\u0441\u043e\u0431\u043b\u0435\u043d\u043d\u044b\u0435 \u0447\u0430\u0441\u0442\u0438 \u0438\u043c\u0451\u043d \u043d\u0430 \u043a\u0438\u0440\u0438\u043b\u043b\u0438\u0446\u0435)\n2. \u0434\u043e\u043c\u0435\u043d \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u0435\u0442 \u0432 \u0447\u0451\u0440\u043d\u043e\u043c \u0441\u043f\u0438\u0441\u043a\u0435 (\u0441\u0435\u0440\u0432\u0438\u0441\u044b \u043e\u0434\u043d\u043e\u0440\u0430\u0437\u043e\u0432\u043e\u0439 \u043f\u043e\u0447\u0442\u044b)\n3. \u0434\u043e\u043c\u0435\u043d \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u0443\u0435\u0442 (\u043f\u0440\u043e\u0432\u0435\u0440\u043a\u0430 MX \u0437\u0430\u043f\u0438\u0441\u0438 \u0432 DNS)\n\u0412\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u044f \u043f\u0440\u0438\u043c\u0435\u043d\u044f\u0435\u0442\u0441\u044f \u0442\u043e\u043b\u044c\u043a\u043e \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0430\u0445, \u043d\u0430\u0441\u0442\u0440\u0430\u0438\u0432\u0430\u0435\u0442\u0441\u044f \u0444\u043b\u0430\u0433\u043e\u043c x-full-validation:\n\u043f\u043e\u043b\u043d\u0430\u044f: \u0432\u0441\u0435 3 \u0443\u0440\u043e\u0432\u043d\u044f; \u0443\u043f\u0440\u043e\u0449\u0451\u043d\u043d\u0430\u044f: 0 \u0443\u0440\u043e\u0432\u043d\u0435\u0439.\n\u0421\u0438\u043d\u0442\u0430\u043a\u0441\u0438\u0441 \u0432 punycode \u0430\u0432\u0442\u043e\u043c\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0438 \u043a\u043e\u043d\u0432\u0435\u0440\u0442\u0438\u0440\u0443\u0435\u0442\u0441\u044f ('xn--@-7sbbfb7a0bicj8a0d.xn--p1ai' => '\u0438\u0432\u0430\u043d\u043e\u0432@\u043f\u043e\u0447\u0442\u0430.\u0440\u0444')","type":"string","format":"email","minLength":7,"maxLength":320,"x-full-validation":false},"is_send":{"title":"\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u043f\u043e \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u043e\u0439 \u043f\u043e\u0447\u0442\u0435","type":"boolean"}}},"post_setting":{"title":"\u041e\u0431\u044b\u0447\u043d\u0430\u044f \u043f\u043e\u0447\u0442\u0430","type":"object","properties":{"address":{"title":"\u041f\u043e\u0447\u0442\u043e\u0432\u044b\u0439 \u0430\u0434\u0440\u0435\u0441 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"string","minLength":1,"maxLength":512},"code":{"title":"\u041f\u043e\u0447\u0442\u043e\u0432\u044b\u0439 \u0438\u043d\u0434\u0435\u043a\u0441","type":"string","nullable":true,"pattern":"\/^\\d+$\/s","minLength":6,"maxLength":6},"is_send":{"title":"\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u043f\u043e \u043f\u043e\u0447\u0442\u0435","type":"boolean"}}},"name":{"title":"\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043d\u0430\u0431\u043e\u0440\u0430 \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u043e\u0432","type":"string","nullable":true,"minLength":1,"maxLength":128},"inn":{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440 \u043d\u0430\u043b\u043e\u0433\u043e\u043f\u043b\u0430\u0442\u0435\u043b\u044c\u0449\u0438\u043a\u0430","description":"\u0426\u0438\u0444\u0440\u043e\u0432\u043e\u0439 \u043a\u043e\u0434, \u0443\u043f\u043e\u0440\u044f\u0434\u043e\u0447\u0438\u0432\u0430\u044e\u0449\u0438\u0439 \u0443\u0447\u0451\u0442 \u043d\u0430\u043b\u043e\u0433\u043e\u043f\u043b\u0430\u0442\u0435\u043b\u044c\u0449\u0438\u043a\u043e\u0432 \u0432 \u0420\u043e\u0441\u0441\u0438\u0439\u0441\u043a\u043e\u0439 \u0424\u0435\u0434\u0435\u0440\u0430\u0446\u0438\u0438","type":"string","pattern":"\/^\\d+$\/s","minLength":10,"maxLength":12},"kpp":{"title":"\u041a\u041f\u041f","description":"\u041a\u043e\u0434 \u043f\u0440\u0438\u0447\u0438\u043d\u044b \u043f\u043e\u0441\u0442\u0430\u043d\u043e\u0432\u043a\u0438 \u043d\u0430 \u0443\u0447\u0435\u0442","type":"string","nullable":true,"pattern":"\/^\\d+$\/s","minLength":9,"maxLength":9},"ogrn":{"title":"\u041e\u0413\u0420\u041d","description":"\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0433\u043e\u0441\u0443\u0434\u0430\u0440\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440","type":"string","nullable":true,"pattern":"\/^\\d{13}$|^\\d{15}$\/s"},"ogrnip":{"title":"\u041e\u0413\u0420\u041d\u0418\u041f","description":"\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0433\u043e\u0441\u0443\u0434\u0430\u0440\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440 \u0438\u043d\u0434\u0438\u0432\u0438\u0434\u0443\u0430\u043b\u044c\u043d\u043e\u0433\u043e \u043f\u0440\u0435\u0434\u043f\u0440\u0438\u043d\u0438\u043c\u0430\u0442\u0435\u043b\u044f","type":"string","nullable":true,"pattern":"\/^\\d{15}$\/s"},"legal_type":{"title":"\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0442\u0438\u043f \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"object","nullable":true,"properties":{"id":{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440","type":"integer","format":"int64","minimum":1,"maximum":9223372036854775807}}},"current_account":{"title":"\u0420\u0430\u0441\u0447\u0451\u0442\u043d\u044b\u0439 \u0441\u0447\u0451\u0442 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"string","nullable":true,"pattern":"\/^\\d+$\/s","minLength":20,"maxLength":20},"correspondent_account":{"title":"\u041a\u043e\u0440\u0440\u0435\u0441\u043f\u043e\u043d\u0434\u0435\u043d\u0442\u0441\u043a\u0438\u0439 \u0441\u0447\u0451\u0442 \u0431\u0430\u043d\u043a\u0430","type":"string","nullable":true,"pattern":"\/^\\d+$\/s","minLength":20,"maxLength":20},"bank_name":{"title":"\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0431\u0430\u043d\u043a\u0430","type":"string","nullable":true,"minLength":1,"maxLength":128},"bank_bik":{"title":"\u0411\u0418\u041a","description":"\u0411\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u0438\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u043a\u043e\u0434 - \u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0431\u0430\u043d\u043a\u0430,\n             \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u043c\u044b\u0439 \u0432 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u044b\u0445 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0445 \u043d\u0430 \u0442\u0435\u0440\u0440\u0438\u0442\u043e\u0440\u0438\u0438 \u0420\u043e\u0441\u0441\u0438\u0438","type":"string","pattern":"\/^\\d+$\/s","minLength":9,"maxLength":9},"legal_title":{"title":"\u042e\u0440. \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435","description":"\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u0441 \u0444\u043e\u0440\u043c\u043e\u0439 \u0441\u043e\u0431\u0441\u0442\u0432\u0435\u043d\u043d\u043e\u0441\u0442\u0438","type":"string","minLength":1,"maxLength":10240},"legal_address":{"title":"\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"string","nullable":true,"minLength":1,"maxLength":512},"fact_address":{"title":"\u0424\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"string","nullable":true,"minLength":1,"maxLength":512},"company_essential_id":{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u043a\u0432\u0438\u0437\u0438\u0442\u043e\u0432 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 (\u043e\u0441\u043d\u043e\u0432\u043d\u0430\u044f \u0441\u0445\u0435\u043c\u0430)","type":"integer","format":"int64","minimum":1,"maximum":9223372036854775807}}},{"required":["id"],"properties":{"email_setting":{"oneOf":[{"allOf":[{"$ref":"#\/components\/schemas\/CredentialsEmail"},{"required":["is_send"],"properties":{"is_send":{"enum":[false]}}}]},{"allOf":[{"$ref":"#\/components\/schemas\/CredentialsEmail"},{"required":["is_send","email"],"properties":{"is_send":{"enum":[true]}}}]}]},"post_setting":{"oneOf":[{"allOf":[{"$ref":"#\/components\/schemas\/CredentialsPost"},{"required":["is_send"],"properties":{"is_send":{"enum":[false]}}}]},{"allOf":[{"$ref":"#\/components\/schemas\/CredentialsPost"},{"required":["is_send","address","code"],"properties":{"is_send":{"enum":[true]}}}]}]}}}]}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"is_succeed":{"$ref":"#\/components\/schemas\/IsSucceed"}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"},"403":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0414\u043e\u0441\u0442\u0443\u043f \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d"},"500":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"}},"security":[{"api_key":[]}]}},"\/me\/company\/edit.json":{"post":{"summary":"\u0420\u0435\u0434\u0430\u043a\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u0442\u0435\u043a\u0443\u0449\u0435\u0433\u043e \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f","operationId":"meCompanyEditAction","tags":["person"," company"," owner_hr"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u0420\u0435\u0434\u0430\u043a\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"object","properties":{"company":{"allOf":[{"$ref":"#\/components\/schemas\/V6Company"},{"properties":{"id":{"readOnly":true},"slug":{"readOnly":true},"offer_branches":{"items":{"properties":{"name":{"readOnly":true}}}},"logo":{"properties":{"url_original":{"readOnly":true},"url_small":{"readOnly":true}}},"logo_vacancy_preview":{"properties":{"url":{"readOnly":true},"srcset":{"readOnly":true}}},"logo_company_preview":{"properties":{"url":{"readOnly":true},"srcset":{"readOnly":true}}},"logo_vacancy_detail_preview":{"properties":{"url":{"readOnly":true},"srcset":{"readOnly":true}}},"type":{"readOnly":true},"description_pages":{"readOnly":true},"company_size":{"properties":{"name":{"readOnly":true}}},"company_type_of_ownership":{"properties":{"id":{"readOnly":true},"name":{"readOnly":true}}},"company_main_representation":{"allOf":[{"$ref":"#\/components\/schemas\/V6CompanyRepresentation"},{"readOnly":true}]},"is_direct_recruiter":{"readOnly":true},"company_logo":{"type":"string","title":"\u0424\u0430\u0439\u043b \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438 \u0432 base64","maxLength":10000000,"nullable":false},"benefits":{"items":{"properties":{"name":{"readOnly":true},"description":{"readOnly":true},"icon_path":{"readOnly":true}}}},"personal_manager":{"allOf":[{"$ref":"#\/components\/schemas\/PersonalManager"},{"readOnly":true}]}}}]}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"company_id":{"type":"integer","description":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438"}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"400":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"},"500":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"}},"security":[{"api_key":[]}]}},"\/me\/company\/join.json":{"post":{"summary":"\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0439 \u0437\u0430\u044f\u0432\u043a\u0438 \u043d\u0430 \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u0435 \u043a \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","operationId":"meCompanyJoinAction","tags":["person"," company"," owner_hr"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0439 \u0437\u0430\u044f\u0432\u043a\u0438 \u043d\u0430 \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u0435 \u043a \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"object","default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"$ref":"#\/components\/schemas\/MeCompanyJoin"},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"403":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0414\u043e\u0441\u0442\u0443\u043f \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d"},"404":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u0435\u0442 \u0430\u043a\u0442\u0438\u0432\u043d\u0430\u044f \u0437\u0430\u044f\u0432\u043a\u0430 \u043d\u0430 \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u0435"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u0430 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u044f"}},"security":[{"api_key":[]}]}},"\/me\/company\/join\/cancel.json":{"post":{"summary":"\u041e\u0442\u043c\u0435\u043d\u0430 \u0437\u0430\u044f\u0432\u043a\u0438 \u043d\u0430 \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u0435 \u043a \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","operationId":"meCompanyJoinCancelAction","tags":["person"," company"," owner_hr"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u041e\u0442\u043c\u0435\u043d\u0430 \u0437\u0430\u044f\u0432\u043a\u0438 \u043d\u0430 \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u0435 \u043a \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"object","default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"is_succeed":{"$ref":"#\/components\/schemas\/IsSucceed"}}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"403":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0414\u043e\u0441\u0442\u0443\u043f \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d"},"404":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u0423 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u0435\u0442 \u0430\u043a\u0442\u0438\u0432\u043d\u0430\u044f \u0437\u0430\u044f\u0432\u043a\u0430 \u043d\u0430 \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u0435"},"401":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"description":"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u0430 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u044f"}},"security":[{"api_key":[]}]}},"\/me\/company\/join\/create.json":{"post":{"summary":"\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0437\u0430\u044f\u0432\u043a\u0438 \u043d\u0430 \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u0435 \u043a \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","operationId":"meCompanyJoinCreateAction","tags":["person"," company"," owner_hr"],"requestBody":{"content":{"application\/json":{"schema":{"title":"\u041e\u0431\u044a\u0435\u043a\u0442 \u0437\u0430\u043f\u0440\u043e\u0441\u0430","type":"object","properties":{"request":{"title":"\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0437\u0430\u044f\u0432\u043a\u0438 \u043d\u0430 \u043f\u0440\u0438\u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u0435 \u043a \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","type":"object","required":["company_id","verification_code"],"properties":{"company_id":{"allOf":[{"$ref":"#\/components\/schemas\/IdIntMin1"},{"title":"\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438","nullable":false}]},"verification_code":{"title":"\u041a\u043e\u0434 \u0432\u0435\u0440\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0434\u043b\u044f \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u044f \u0437\u0430\u044f\u0432\u043a\u0438","nullable":false,"minLength":1,"type":"string","maxLength":50000}},"default":{}},"request_id":{"$ref":"#\/components\/schemas\/RequestId"},"time":{"type":"integer"},"application_id":{"type":"integer","minimum":0,"maximum":4294967295},"signature":{"type":"string","minLength":64,"maxLength":64},"user_tags":{"title":"\u0422\u0435\u043a\u0443\u0449\u0438\u0435 \u043c\u0435\u0442\u043a\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0438\u0437 cookie","type":"array","items":{"$ref":"#\/components\/schemas\/UserTag"},"maxItems":500},"rabota_ru_id":{"$ref":"#\/components\/schemas\/RabotaRuId"},"cache_control_max_age":{"type":"integer","minimum":0,"maximum":86400}},"default":{}}}}},"responses":{"200":{"content":{"application\/json":{"schema":{"type":"object","properties":{"response":{"$ref":"#\/components\/schemas\/MeCompanyJoin"},"request_id":{"$ref":"#\/components\/schemas\/RequestId"}}}}},"description":"\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442"},"403":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Erro
[...]
